*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg,rgb(0, 10, 116) 0%, rgb(69, 76, 163) 100%);
  max-height: 100vh;
}
.App{
  height: 90vh;
  border: rgba(248, 248, 255, 0.2) solid 1px;
  border-radius: 2rem;
  margin: 2rem 3rem;
  padding: 2rem;
}
.weatherApp{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.currentWeather{
  margin: 3rem 1rem 2rem 0;
  color: #f9f9ff;
  display: flex;
  flex-direction: column;
}
h3{
  color: #f9f9ff;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

h4{
  font-weight: 500;
  font-size: 1.1rem;
}
p{
  color: rgb(196, 196, 214);
}
.top{
  margin-bottom: 2rem;
}
.top img, .middle img{
  color: #fff;
}

.top div, .middle div{
  display: flex;
  text-align: center;
  padding: 0 1rem;
  justify-content: space-between;
}
.top div div, .middle div div{
  display: block;
  align-items: center;
}
.top div div{
  margin-top: 2rem;
}
.middle .heading{
  margin-bottom: 2rem;
}
.bottom{
  margin: 4rem 1rem 2rem 0;
}
.bottom div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom div div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(94, 100, 180, 0.2);
  box-shadow: 5px 5px 5px rgba(22, 24, 75, 0.6);
  border-radius: 8px;
  margin: 3px;
}
.bottom div div img{
  width: 50%;
  height: auto;
}
.forecast{
padding: 3rem 0;
}
.forecastDay{
  display: flex;
  justify-content: space-between;
  padding: .5rem .8rem;
  background: #b2bae8;
  margin: 4px 0;
  background-color: rgba(94, 100, 180, 0.2);
  box-shadow: 2px 2px 2px rgba(22, 24, 75, 0.3);
  border-radius: 8px;
}
.forecastDay div{
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.forecastDay div h3{
  text-align: left;
  display: inline;
}
.forecastImg{
  width: 15%;
  height: auto;
  padding: 0;
  margin: 0;
}
footer{
  color: #fff;
  position: fixed;
  text-align: center;
  bottom: 0px;
  right: 0;
  left: 0;
}